* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 12, 22);
    color: rgb(227, 225, 228);
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 25rem;
    width: 50%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.container .left {
    height: 100%;
    width: 45%;
}

.container .right {
    height: 100%;
    width: 55%;
}

.player.medium {
    height: 55%;
    margin-bottom: 1rem;
    margin-left: .5rem;
}

.player.small {
    height: calc(45% - 1rem);
    margin-top: 1rem;
    margin-left: .5rem;
}

.player.big {
    height: 100%;
    margin-right: .5rem;
}

.player {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: rgb(43, 33, 66);
    border-radius: 1rem;

    padding: .5rem .5rem;
}

.player.big .track-art {
    width: 100%;
    text-align: center;
}

.player.big .track-name {
    width: 100%;
    text-align: center;
}

.player.big .track-artist {
    width: 100%;
    text-align: center;
}

.player .buttons {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.player .slider-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.player .slider-container .seek-slider {
    width: 100%;
}

.player .medium-small-wrapper {
    display: flex;
    width: 100%;

}



.player .track-art {
    width: 5rem;
    height: 5rem;
    background-color: rgb(179, 153, 205);
    border-radius: 1rem;
}

.player.big .track-art {
    width: 10rem;
    height: 10rem;
}

.medium-small-wrapper-name-artist {
    padding-left: 1rem;
    padding-top: .5rem;
}

.buttons {
    color: rgb(227, 225, 228);
}