* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 12, 22);
    color: rgb(227, 225, 228);
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 25rem;
    width: 50%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.container .left {
    height: 100%;
    width: 45%;
}

.container .right {
    height: 100%;
    width: 55%;
}

.player.medium {
    height: 55%;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.player.small {
    height: calc(45% - 1.5rem);
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.player {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: rgb(43, 33, 66);
    border-radius: .5rem;

    padding: .8rem 1.5rem;
}

.player.big {
    height: 100%;
    margin-right: .5rem;
    padding: 2rem 2rem;
}

.big-wrapper-name-artist {
    width: 100%;
    text-align: left;
}

.player .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.fa-solid {
    cursor: pointer;
}

.player.big .buttons {
    justify-content: space-between;
}

.player .slider-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: .8rem;
    color: rgb(151, 151, 151);
}

.player .slider-container .seek-slider {
    width: 100%;
    margin-bottom: .5rem;
}

.player .medium-small-wrapper {
    display: flex;
    width: 100%;
}

.player .track-art {
    width: 4rem;
    height: 4rem;
    background-color: rgb(179, 153, 205);
    border-radius: .3rem;
    background-size: cover;
}



.player.big .track-art {
    width: 10rem;
    height: 10rem;
}

.medium-small-wrapper-name-artist {
    padding-left: 1rem;
    padding-top: .5rem;
}

.buttons {
    color: rgb(227, 225, 228);
}

.track-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.track-artist {
    font-size: 1rem;
    color: rgb(151, 151, 151);
}

.seek-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    height: .3rem;
    background-color: rgb(94,89,111);
    border-radius: .2rem;
    background-image: linear-gradient(rgb(227, 225, 228), rgb(227, 225, 228));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    
}

.seek-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: .3rem;
    height: .3rem;
    background-color: rgb(227, 225, 228);
    border-radius: .3rem;
    
    transition: background .3s ease-in-out;
}

.animate {
    animation: bop 3s infinite linear;
}

@keyframes bop {
    0% {
        transform: scale(1)
    }
    25% {
        transform: scale(0.95)
    }
    50% {
        transform: scale(1.05)
    }
    75% {
        transform: scale(0.95)
    }
    100% {
        transform: scale(1)
    }
}

@media screen and (max-width: 760px) {

    .container {
        height: 25rem;
        width: 80%;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    
    .container .left {
        height: 100%;
        width: 100%;
    }
    .container .right {
        display: none;
    }
}